.input-group {
    border: 2px solid #16148b;
    border-radius: 20px;
    overflow: hidden;
}

.input-group .form-control {
    border: none;
}

.input-group .btn {
    border: none;
    background-color: transparent;
    box-shadow: none;
}

.input-group .form-control:focus {
    outline: none;
}

.stock-summary p {
    margin: 0;
}